*{
    margin:0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-decoration: none;
}

/* nav var */

body{
    padding: 8px;
}

.nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-icon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.fa-e:hover{
    color: yellow;
    cursor:pointer;
}

.nav-div{
    height: 100px;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.nav-list{
    list-style: none;
    gap:20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.active{
    text-decoration: none;
}

.active:hover{
    color: yellow;
    cursor : pointer;
}

.fa-download{
    margin: 15px;
    padding: 10px;
    border-radius: 25%;
    margin-bottom: 25px;
    position: relative;
    color: #03fcc6;
}
.nav-resume{
    font-size: 25px;
    display: flex;
    justify-content: end;
}

.fa-download:hover{
    color: yellow;
    cursor: pointer;
}


/* Home Section */


.container-header{
    height: 70vh;
    width:100%;

}

.header-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.hero-heading{
    font-weight: 500px;
    color: #03fcc6;
}
.hero-details{
    font-size: 21.5px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #bff542;
}

.Hero-Img{
    display: flex;
    justify-content: center;
}
.tag{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 14px #03fcc6;
    margin-bottom: 25px;
}
.tag:hover{
    box-shadow: 6px 6px 26px 30px #03fcc6;
    cursor: pointer; 
    transform: matrix(1.1s);  
}

.header-fav-list{
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin: 15px;
}
.hero-connection{
    gap: 25px;
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-fav-icon{
    margin-right: 35px;
    display:flex;
    margin-bottom: 10px;
}
.only-btn{
    border: 2px solid #03fcc6;
    padding: 15px;
    font-size: 15px;
    border-radius:25%;
}
.full-btn{
    border: 2px solid #03fcc6;
    padding: 15px;
    font-size: 15px;
    border-radius:25%;
    scroll-behavior: smooth;
    box-shadow: 2px 2px 6px 9px #03fcc6;
}
.full-btn:hover,.only-btn:hover{
    color: #03fcc6;
    box-shadow: 2px 2px 8px 12px #03fcc6;
}



/* Home End */










/* Footer Full  */

.container-footer{
    height: 100px;
    width: 95%;
    font-size: 25px;
    margin: 25px;
    padding: 20px;
}

.footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 5px;
}

.footer-text{
    text-align: center;
    display: flex;
    justify-content: center;
}

.fav-icon{
    color : darkblue;
    margin-right: 8.5px;
}

.fav-icon:hover{
    color: yellow;
    cursor: pointer;
}

.fa-brands:hover{
    color: darkslateblue;
    cursor:pointer;
}